<nav class="navbar navbar-dark bg-primary">
  <!-- <div class="side">
    <a class="nav-link active" href="#"><span class="material-icons md-10">arrow_back_ios</span></a>
    <a class="navbar-brand">Employee Management</a>
  </div> -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['']"><span class="material-icons md-10">arrow_back_ios</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Employee Management</a>
    </li>
  </ul>
</nav>
<br>

<router-outlet></router-outlet>
