@mixin colhead {
  padding-left: 16px;
  font-size: 15px;
}

.demo-table {
  width: 70%;
  margin: auto;
}

.mat-column-id {
  @include colhead();
}

.mat-column-name {
  @include colhead();
}

.mat-column-location {
  @include colhead();
}

.mat-column-role {
  @include colhead();
}
.mat-column-grade {
  @include colhead();
}
.mat-column-action {
  @include colhead();
}
.mat-row:hover {
  background-color: rgba(196, 193, 193, 0.5);
  outline: none;
}
.table-row:focus {
  background: rgb(85, 77, 77);
  outline: none;
}

.button-fix {
  position: fixed;
  top: auto;
  right: 50px;
  z-index: 5;
  bottom: 50px;
}

.example-container {
  height: 500px;
  max-width: 100%;
  overflow: auto;
}
